@import '../../vars.css';

.container {
  margin: 80px 10% 0 10%;
}

.title {
  margin-bottom: 20px;
}

.projects {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 830px) {
  .title {
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .projects {
    flex-direction: column;
    gap: 20px;
  }
}
