@import '../../vars.css';

.container {
  margin: 100px 10% 0 10%;
}

.title {
  margin-bottom: 20px;
}

.aboutItemText > h3 {
  color: var(--color-primary);
}

.content {
  position: relative;
  background-color: rgba(15, 5, 40, 0.6);
  border-radius: 15px;
  padding: 70px;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 50px;
}

.aboutImg {
  width: 25%;
}

.aboutItems {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItem {
  display: flex;
  gap: 30px;
  align-items: center;
  border-radius: 20px;
  list-style: none;
}

ul img {
  width: 50px;
}

@media screen and (max-width: 830px) {
  .container {
    margin: 100px 5% 0 5%;
  }
  .title {
    text-align: center;
  }
  .content {
    flex-direction: column;
    text-align: center;
  }
  .aboutImg {
    display: none;
  }
  .aboutItem {
    flex-direction: column;
    gap: 20px;
  }
}
