@import '../../vars.css';

.container {
  position: relative;
  background-color: rgba(15, 5, 40, 0.6);
  border-radius: 15px;
  padding: 70px;
  margin: 100px 10% 0 10%;
  z-index: 1;
}

.content {
  display: flex;
  align-items: center;
}

.aboutImg {
  width: 25%;
}

.aboutItems {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItem {
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 20px;
  list-style: none;
}

@media screen and (max-width: 830px) {
  .container {
    padding: 40px 40px;
  }
  .title {
    text-align: center;
    margin-bottom: 50px;
  }
  .content {
    flex-direction: column;
    text-align: center;
  }
  .aboutImg {
    display: none;
  }
  .aboutItem {
    flex-direction: column;
    gap: 10px;
  }
}
