@import '../../vars.css';

.navbar {
  height: 70px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 2;
  margin: 0 10% 150px 10%;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 40px;
  list-style: none;
}

.menuBtn {
  display: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10% 70px 10%;
  }

  .menu {
    position: absolute;
    bottom: 0px;
    right: 0px;
    flex-direction: column;
    gap: 10px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
    z-index: 2;
  }

  .menuItems {
    width: 80vw;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: rgb(
      25,
      55,
      109
    ); /* Back up for browsers which do not support linear gradients */
    background: linear-gradient(
      0deg,
      rgba(88, 28, 175, 0.5) 0%,
      rgba(88, 28, 175, 1) 100%
    );
    padding: 20px 30px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    gap: 10px;
    padding: 40px 40px;
    z-index: 1;
  }

  img {
    width: 50px;
    padding: 10px;
  }
}
