@import '../../vars.css';

.navbar {
  height: 70px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 2;
  margin: 0 10% 150px 10%;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu a:hover {
  color: var(--color-primary);
}

.menuBtn {
  display: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    margin-bottom: 25px;
  }

  .menu {
    display: none;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
    z-index: 2;
  }

  img {
    width: 50px;
    padding: 10px;
  }
}
