@import '../../vars.css';

.container {
  margin: 80px 10% 0 10%;
}

.title {
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.experienceItem {
  list-style: none;
  margin-bottom: 20px;
  background-color: rgba(15, 5, 40, 0.6);
  border-radius: 15px;
  padding: 20px 30px;
}

.experienceItem:hover {
  transform: scale(1.01);
  background-color: rgba(8, 2, 24, 0.6);
}

.experienceItemHeader {
  display: flex;
  justify-content: space-between;
}

.experienceDates {
  font-size: 16px;
  text-align: right;
}

.experienceItemCompanyDetails {
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.experienceBullet {
  margin-left: 2%;
}

@media screen and (max-width: 830px) {
  .container {
    margin: 80px 5% 0 5%;
  }
  .title {
    text-align: center;
  }
}
