:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
  color: var(--color-text);
}

html {
  scroll-behavior: smooth;
  background-color: var(--color-bg);
}

h1 {
  font-size: 72px;
  font-weight: 900;
  font-family: var(--font-roboto);
}

h2 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
}

h3 {
  font-size: 25px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-primary);
}

p {
  font-size: 20px;
}

li {
  font-size: 16px;
}

a {
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
}
